html, body {
    height:100%;
    width:100%;
}

.home-section {
    height: auto!important;
    min-height: 100%;
    overflow: hidden;
    padding-top: 50px;
}
.über-section {
    height: auto!important;
    min-height: 100%;
    overflow: hidden;
    padding-top: 50px;
}
.registrieren-section {
    height: auto!important;
    min-height: 100%;
    overflow: hidden;
    padding-top: 50px;
}